.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #07060F;
  position: relative;
}

.home__content {
  position: relative;
  z-index: 1;
}

.home__content h1 {
  font-size: 4rem;
  margin-bottom: 0;

  background: linear-gradient(
    90deg,
    #f5f5f8,
    #6000fa
  );

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

.home__content h2 {
  font-size: 2rem;
  color: #9F6AE5E5;
}

.home__content p {
  font-size: 1.5rem;
  color: #a2a1a4e5;
}

.home__image {
    width: 25%;
    height: 25%;
    }